<div class="main">
<table>
    <tr>
      <th>Mission Name</th>
      <th>Mission ID</th>
      <th>Manufacturers</th>
      <th>Payload IDs</th>
      <th>Wikipedia</th>
      <th>Website</th>
      <th>Twitter</th>
      <th>Description</th>
  
    </tr>
    <tr *ngFor="let item of data" id="data1">
      <td>{{item.mission_name}}</td>
      <td>{{item.mission_id}}</td>
      <td>{{item.manufacturers}}</td>
      <td>{{item.payload_ids}}</td>
      <td>{{item.wikipedia}}</td>
      <td>{{item.website}}</td>
      <td>{{item.twitter}}</td>
      <div class="temp">
        <td>{{item.description}}</td>
      </div>
    </tr>
  </table>
</div>